@{
    ViewBag.Title = "¿Quienes somos?";
}

<div class="jumbotron" style="background-image:url(../Content/park_hd2.jpg); height: 565px; width: 1140px "></div>

<h1 style="color:#2a9fd6!important">@ViewBag.Title</h1>
<br />
<br />
<p class="lead" style="color:#2a9fd6!important"; text-align: justify;
    text-justify: inter-ideograph;>@ViewBag.Message</p>