@{
    ViewBag.Title = "Contacto";
}
<!--<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>-->
<div class="jumbotron" style="background-image:url(../Content/parking2.jpg); height: 565px; width: 1140px ">
    <h1>@ViewBag.Title</h1>
    <br />
    <br />
    <p class="lead" style="color:azure!important">@ViewBag.Message</p>

    <address style="color:azure!important">
        Mario Bravo 1302<br />
        CABA, CP1411<br />
        <abbr title="Phone"></abbr>
        4964-4600
    </address>

    <address style="color:azure!important">
        <strong>Atención al Cliente:</strong>   <a href="mailto:informes@palermo.edu">informes@palermo.edu</a><br />
        <strong>Soporte Técnico:</strong> <a href="mailto:ingenieria@palermo.edu">ingenieria@palermo.edu</a>
    </address>
</div>
