@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image:url(../Content/Subterranean.jpg); height: 565px; width: 1140px " >
    <h1>ParkAR</h1>
    <p class="lead" style="color:azure!important">ParkAr es una app pensada para simplificar tu vida a la hora de buscar un estacionamiento para tu vehiculo.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Conocenos</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Como Funciona</h2>
        <p>
            Desde la registracion al proceso de pagos, en esta seccion despeja todas tus dudas acerca de ParkAr y como hacer de la busqueda de estacionameinto algo simple y sensillo.
        </p>
        <p><a class="btn btn-default" href="#">ver más...</a></p>
    </div>
    <div class="col-md-4">
        <h2>Estacionamientos </h2>
        <p>Busca estacionamientos por provincia, ciudad y barrio de manera simple y amigable en solo 3 pasos y visualizalos en google maps integrado.</p>
        <p><a class="btn btn-default" href="#">ver más...</a></p>
    </div>
    <div class="col-md-4">
        <h2>Medios de pago y promos</h2>
        <p>Aca podras ver todos los medios de pago disponibles y las promociones vigentes.</p>
        <p><a class="btn btn-default" href="#">ver más...</a></p>
    </div>
</div>